.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  span{
      margin: 20px;
    }
    .active{
      color: rgb(193, 193, 193);
    }
    span:hover{
    cursor: pointer;
    } 

.search{
    input{
      border-radius: 25px;
    }
}