<mat-toolbar class="navBar" color="primary">
  <span routerLink="/" routerLinkActive="active">
    <h1>Blog</h1>
  </span>
  <div class="navMenu">
  <div class="search">
    <input matInput *ngIf="showInput" [(ngModel)]="navSearchInput" (ngModelChange)="onNavSearchInputChange()">
    <button mat-icon-button (click)="showInput = !showInput">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <span routerLink="/">Back</span>
  <span routerLink="admin/login" routerLinkActive="active">login</span>
</div>
</mat-toolbar>

<router-outlet></router-outlet>