.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

span {
  margin: 20px;
}

.active {
  color: rgb(193, 193, 193);
}

span:hover {
  cursor: pointer;
}

.search {
  input {
    border-radius: 25px;
    max-width: 150px;
    text-align: center;
    width: 100%;
    outline: none;
    font-size: 20px;
    vertical-align: middle;
    border: none;
    padding: 0;
  }
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}