<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-card class="card">
    <div class="logForm">
      <h1>Login Form</h1>
      <div class="error" *ngIf="authService.error$ | async  as errorResponseMessage">{{errorResponseMessage}}</div>
    </div>
    <!-- Email -->
    <div>
      <mat-form-field appearance="fill">
        <mat-label [ngClass]="{'error': inputResponseError}">Enter your email</mat-label>
        <input matInput placeholder="email" formControlName="email" required>
        <mat-error *ngIf="form.get('email')?.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>
    </div>
    <!-- Password -->
    <div>
      <mat-form-field appearance="fill">
        <mat-label [ngClass]="{'error': passwordResponseError}">Enter your password</mat-label>
        <input matInput placeholder="password" formControlName="password" [type]="hide ? 'password' : 'text'"
          required="">
        <mat-error *ngIf="form.get('password')?.invalid">{{getErrorMessagePassword()}}</mat-error>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- Submit -->
    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
  </mat-card>


</form>