<div *ngIf="posts.length else load">
    <div class="card">
        <mat-card class="home-posts-header-grid">
            <div>
                <h1>Author</h1>
            </div>
            <div>
                <h1>Title</h1>
            </div>
            <div>
                <h1>Date</h1>
            </div>
            <div>
                <h1>Action</h1>
            </div>
        </mat-card>

        <mat-card class="home-posts-grid" *ngFor="let p of posts; let i = index">
            <div>
                <h3>{{p.author}}</h3>
            </div>
            <div>
                <h3>{{p.title}}</h3>
            </div>
            <div>
                <h3>{{p.date | date}}</h3>
            </div>
            <div>
                <h3><a (click)="editPost(p.id)">Edit</a></h3>
                <h3><a (click)="removePost(p.id)">Delete</a></h3>
            </div>
        </mat-card>
    </div>
</div>
<ng-template #load>
    <h1>Loading...</h1>
</ng-template>