.container {
    max-width: 800px;
    margin: 22px auto;
    padding: 60px 10px;

    h2 {
        text-align: center;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}