<div *ngIf="posts.length else load">
    <div class="container">
        <div *ngFor="let p of posts | adminSearch:navSearchInput; let i = index">
            <h2>{{p.title}}</h2>
            <div class="header">
                <h3>{{p.author}} <small>(author)</small></h3>
                <p>{{p.date | date}}</p>
            </div>
            <div>
                <quill-view-html [content]="p.text.slice(0,400)+ '...'"></quill-view-html>
            </div>
            <div>
                <button (click)="editPost(p.id)" mat-button>Edit</button>
                <button (click)="removePost(p.id)" mat-button>Delete</button>
            </div>
            <hr>
        </div>
    </div>
</div>
<ng-template #load>
    <h1>Loading...</h1>
</ng-template>