/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


* {
  box-sizing: border-box;
}

.spacer{
  flex: 1;
}
.error{
  color: red !important;
}
.quill-container label{
  color: #626262;
}
.error-quill{
  border: 1px solid red;
}
.router-outlet {
  // position: absolute;
  // top: 0;
  // right: 0;
  // left: 0;
  padding: 100px 0;
}