<div *ngIf="posts.length else load">
    <mat-card *ngFor="let p of posts | searchPost:navSearchInput; let i = index">
        <mat-card-header class="card-header-flex">
            <mat-card-title>{{p.title}}</mat-card-title>
            <mat-card-subtitle>{{p.author}}</mat-card-subtitle>
            <div class="spacer"></div>
            <p>{{p.date | date}}</p>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button (click)="openPost(p.id)">Open</button>
        </mat-card-actions>
    </mat-card>
</div>
<ng-template #load>
    <h1>Loading...</h1>
</ng-template>