<div *ngIf="posts.length else load">
    <div class="container" *ngFor="let p of posts | searchPost:navSearchInput; let i = index">
        <h2>{{p.title}}</h2>
        <div class="header">
            <h3>{{p.author}} <small>(author)</small></h3>
            <p>{{p.date | date}}</p>
        </div>
        <quill-view-html [content]="p.text.slice(0,400)+ '...'"></quill-view-html>
        <button mat-button (click)="openPost(p.id)">Open</button>
        <hr>
    </div>
</div>
<ng-template #load>
    <h1>Loading...</h1>
</ng-template>